In [24]:
#1

import statistics #To use median

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and display the min and max age
ages.sort()
print("Sort List:",ages,"Min age:",min(ages),"Max age:",max(ages))

#Add the min age and the max age again to the list at the end
ages.extend([min(ages),max(ages)])
print("After adding min and max",ages)

#median age
print("Median age:",statistics.median(ages))

#average age
print("Average age:",sum(ages)/len(ages))

#range of the ages
print("Range of ages:",max(ages)-min(ages))

Sort List: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26] Min age: 19 Max age: 26
After adding min and max [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

In [25]:
#2

#Create an empty dictionary
dog={}

#Add name, color, breed, legs, age to the dictionary(dog)
dog={'name':'None', 'color':'None', 'breed':'None', 'legs':'None', 'age':'None'}
print("dog dictionary:",dog)

#Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student={}
student={'first_name':'Amy',
          'last_name':'Normad',
          'gender':'F',
          'age':28,
          'marital status':'Married',
          'skills':['AWS','python','react'],
          'country':'United States',
          'city':'Kansas',
          'address':{
               'street':'eby St',
               'zipcode':'66223'
          }
        }
print("keys for student dictionary:",student.keys())

#length of the student dictionary
print("Length of student:",len(student))

#Value of skills and check the data type, it should be a list
print("Values:",student.get('skills'))
print("Datatype:",type(student['skills']))

#Modify the skills values by adding one or two skills i.e 'HTML' and 'MangoDB'
student['skills'].append('Azure')
student['skills'].append('NoSQL')
print("List after adding:",student['skills'])

#dictionary keys as a list
keys = student.keys()
print("Keys:",keys) 

#dictionary values as a list
values = student.values()
print("Values:",values)

dog dictionary: {'name': 'None', 'color': 'None', 'breed': 'None', 'legs': 'None', 'age': 'None'}
keys for student dictionary: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Length of student: 9
Values: ['AWS', 'python', 'react']
Datatype: <class 'list'>
List after adding: ['AWS', 'python', 'react', 'Azure', 'NoSQL']
Keys: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Values: dict_values(['Amy', 'Normad', 'F', 28, 'Married', ['AWS', 'python', 'react', 'Azure', 'NoSQL'], 'United States', 'Kansas', {'street': 'eby St', 'zipcode': '66223'}])

In [26]:
#3

#Create a tuple containing names of your sisters and your brothers
sisters = ('Koti','Vamsi','Nikhil')
brothers = ('Jamie','Dalton','Michael','John')
print("Sisters:",sisters,"Brothers:",brothers)

#Joining brothers and sisters tuples and assigning it to siblings
siblings = brothers+sisters 
print("Siblings:",siblings)

#Counting the number of siblings
print("No. of siblings:",len(siblings))

#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
FM = ('Daniel','Amy')
family_members=siblings+FM
print("Total:",family_members)

Sisters: ('Koti', 'Vamsi', 'Nikhil') Brothers: ('Jamie', 'Dalton', 'Michael', 'John')
Siblings: ('Jamie', 'Dalton', 'Michael', 'John', 'Koti', 'Vamsi', 'Nikhil')
No. of siblings: 7
Total: ('Jamie', 'Dalton', 'Michael', 'John', 'Koti', 'Vamsi', 'Nikhil', 'Daniel', 'Amy')

In [27]:
#4
#sets
it_companies = {'Amazon','Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle'}  
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#length of the set it_companies
print("Length of it_companies:",len(it_companies))

#Adding 'Twitter' to it_companies
it_companies.add('Twitter')
print("set after adding:",it_companies)

#Inserting multiple IT companies at once to the set it_companies like 'LinkedIn','CapitalOne','FedX'
insert_multiple = {'UPS','CapitalOne','FedX'}
it_companies.update(insert_multiple)
print("multiple values :",it_companies)

#Removing one of the companies from the set it_companies like 'Microsoft'
it_companies.remove('UPS')
print("Removing one item like 'UPS':",it_companies)

#difference between remove and discard
#remove(x): remove element x from the set s. A KeyError occurs if x is not in the set
#discard(x): remove element x from the set s. Does not cause an exception if x is not in the set
it_companies.discard('IBM') 
print("Discarding an item:",it_companies)

#Joining A and B
print("Union:",A.union(B))

#Intersection of A and B
print("Intersection:",A.intersection(B))

#Is A subset of B which gives true/false
print("Is A Subset of B:", A.issubset(B))

#Are A and B disjoint sets which gives true/false
print("Are A and B disjoint sets:",A.isdisjoint(B))

#Join A with B and B with A which gives the same output
A.update(B)
print("Join A with B:",A)
B.update(A)
print("Join B with A:",B)

#Symmetric difference between A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("Symmetric difference",A.symmetric_difference(B))

#Delete the sets completely and if we try to print then we get NameError
del A
del B

#Convert the ages to a set and compare the length of the list and the set by checking whether both are equal or not.
ages=set(age)
print("Convert the ages:",ages)
print("Length of List:",len(age),"and Length of Set:",len(ages))
print("Comparing:",len(age)==len(ages))

Length of it_companies: 7
set after adding: {'Amazon', 'Google', 'IBM', 'Oracle', 'Apple', 'Twitter', 'Microsoft', 'Facebook'}
multiple values : {'FedX', 'Google', 'IBM', 'Oracle', 'CapitalOne', 'Facebook', 'Microsoft', 'Amazon', 'Twitter', 'UPS', 'Apple'}
Removing one item like 'UPS': {'FedX', 'Google', 'IBM', 'Oracle', 'CapitalOne', 'Facebook', 'Microsoft', 'Amazon', 'Twitter', 'Apple'}
Discarding an item: {'FedX', 'Google', 'Oracle', 'CapitalOne', 'Facebook', 'Microsoft', 'Amazon', 'Twitter', 'Apple'}
Union: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection: {19, 20, 22, 24, 25, 26}
Is A Subset of B: True
Are A and B disjoint sets: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference {27, 28}
Convert the ages: {19, 22, 24, 25, 26}
Length of List: 8 and Length of Set: 5
Comparing: False

In [28]:
radius= 30
pi=3.14
#Calculate the area of a circle and assign the value to a variable name of area_of_circle
area_of_circle = pi*radius*radius
print("Area of circle:",area_of_circle)

#Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
circum_of_circle = 2*pi*radius
print("Circumference of circle:",circum_of_circle)

#Take radius as user input and calculate the area
radius = float(input("Enter radius: "))
area = pi*radius*radius
print("Area:",area)

Area of circle: 2826.0
Circumference of circle: 188.4
Enter radius: 40
Area: 5024.0

In [29]:
#6

#How many unique words have been used in the given sentence? Use the split methods and set to get the unique words
str = "I am a teacher and I love to inspire and teach people"
unique=set(str.split(" "))
print("words",unique)
print("count:",len(unique))

words {'a', 'am', 'to', 'teacher', 'inspire', 'teach', 'love', 'I', 'people', 'and'}
count: 10

In [30]:
#7 

#Use tab escape sequence to get the below mentioned lines.
#Name Age Country City
#Asabeneh 250 Finland Helsinki

print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [31]:
#8

#Use the string formatting method to display the following
#radius = 10
#area = 3.14 * radius ** 2
#â€œThe area of a circle with radius 10 is 314 meters square."

radius = 10
area = int(3.14*radius**2)
res = 'The area of circle with radius {} is {} meters square.'.format(radius, area)
print(res)

The area of circle with radius 10 is 314 meters square.

In [32]:
#9
#Write a program which reads weights (lbs.) of N students into a list and convert these weights to 
#kilograms in a separate list using Loop. N: No of students (get input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]

n1 = []
n2 = []
n = int(input("Enter the no. of stu: "))
for i in range(0,n):
    w = int(input())
    n1.append(w)
for i in range(0,n):
    n2.append(n1[i]*0.4535)
print(n2)

Enter the no. of stu: 4
150
155
145
148
[68.025, 70.2925, 65.75750000000001, 67.118]