In [1]:
#Solution:1

import statistics

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and displaying the min and max age
ages.sort()
print("Sorted List:",ages)
print("Min age:",min(ages))
print("Max age:",max(ages))

#Add the min age and the max age again to the list at the end
ages.extend([min(ages),max(ages)])
print("Adding min and max to list:",ages)

#median age (one middle item or two middle items divided by two)
print("Median age:",statistics.median(ages))

#average age (sum of all items divided by their number)
print("Average age:",sum(ages)/len(ages))

#range of the ages (max minus min)
print("Range of the ages:",max(ages)-min(ages))

Sorted List: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Adding min and max to list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of the ages: 7

In [2]:
#Solution:2

#Create an empty dictionary
dog={}

#Add name, color, breed, legs, age to the dog dictionary
keyList=['name', 'color', 'breed', 'legs', 'age']
for i in keyList:
    dog[i]=None
print("dog dictionary:",dog)

#Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
students={}
students={'first_name':'Kinoree',
          'last_name':'Meda',
          'gender':'F',
          'age':22,
          'marital status':'single',
          'skills':['javascript','python','react'],
          'country':'United States',
          'city':'Kansas',
          'address':{
               'street':'Travis St',
               'zipcode':'66223'
          }
        }
print("keys for student dictionary:",students.keys())

#length of the student dictionary
print("Length of student:",len(students))


#Value of skills and check the data type, it should be a list
print("Values of skills:",students.get('skills'))
print("Datatype of skills:",type(students['skills']))

#Modify the skills values by adding one or two skills i.e 'HTML' and 'MangoDB'
students['skills'].append('HTML')
students['skills'].append('MongoDB')
print("Modified List after adding one or two skills:",students['skills'])

#dictionary keys as a list
keys = students.keys()
print("Dictionary Keys:",keys) 

#dictionary values as a list
values = students.values()
print("Dictionary Values:",values)

dog dictionary: {'name': None, 'color': None, 'breed': None, 'legs': None, 'age': None}
keys for student dictionary: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Length of student: 9
Values of skills: ['javascript', 'python', 'react']
Datatype of skills: <class 'list'>
Modified List after adding one or two skills: ['javascript', 'python', 'react', 'HTML', 'MongoDB']
Dictionary Keys: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
Dictionary Values: dict_values(['Kinoree', 'Meda', 'F', 22, 'single', ['javascript', 'python', 'react', 'HTML', 'MongoDB'], 'United States', 'Kansas', {'street': 'Travis St', 'zipcode': '66223'}])

In [3]:
#Solution:3

#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ('Swetha','Mary','Nancy')
brothers = ('John','Peter','Harry','Gopi')
print("Sisters:",sisters,"Brothers:",brothers)

#Joining brothers and sisters tuples and assigning it to siblings
siblings = brothers+sisters 
print("Siblings Tuple:",siblings)

#Counting the number of siblings
print("Length of siblings:",len(siblings))

#Modify the siblings tuple and add the name of your father and mother like 'Sudhakar' and 'Rani'and assign it to family_members
parents = ('Sudhakar','Rani')
family_members=siblings+parents
print("Family Members:",family_members)

Sisters: ('Swetha', 'Mary', 'Nancy') Brothers: ('John', 'Peter', 'Harry', 'Gopi')
Siblings Tuple: ('John', 'Peter', 'Harry', 'Gopi', 'Swetha', 'Mary', 'Nancy')
Length of siblings: 7
Family Members: ('John', 'Peter', 'Harry', 'Gopi', 'Swetha', 'Mary', 'Nancy', 'Sudhakar', 'Rani')

In [5]:
#Soluton:4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#length of the set it_companies
print("Length of the it_companies:",len(it_companies))

#After Adding 'Twitter' to it_companies
it_companies.add('Twitter')
print("Set after adding 'Twitter':",it_companies)

#Inserting multiple IT companies at once to the set it_companies like 'LinkedIn','CapitalOne','FedX'
it_companies.update(['LinkedIn','CapitalOne','FedX'])
print("Insert Multiple IT companies:",it_companies)

#Removing one of the companies from the set it_companies like 'Microsoft'
it_companies.remove('Microsoft')
print("Removing one item like 'Microsoft':",it_companies)

#What is the difference between remove and discard
#remove(x): remove element x from the set s. A KeyError occurs if x is not in the set
#discard(x): remove element x from the set s. Does not cause an exception if x is not in the set
it_companies.discard('IBM') 
print("Discarding an item:",it_companies)

#Joining A and B
print("Union:",A.union(B))

#Intersection of A and B
print("Intersection:",A.intersection(B))

#Is A subset of B which gives true/false
print("Is A Subset of B:", A.issubset(B))

#Are A and B disjoint sets which gives true/false
print("Are A and B disjoint sets:",A.isdisjoint(B))

#Join A with B and B with A which gives the same output
A.update(B)
print("Join A with B:",A)
B.update(A)
print("Join B with A:",B)

#Symmetric difference between A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("Symmetric difference between A and B:",A.symmetric_difference(B))

#Delete the sets completely and if we try to print then we get NameError
del A
del B


#Convert the ages to a set and compare the length of the list and the set by checking whether both are equal or not.
ages=set(age)
print("Convert the ages to a set:",ages)
print("Length of List:",len(age),"and Length of Set:",len(ages))
print("Compare the length of the list and the set:",len(age)==len(ages))

Length of the it_companies: 7
Set after adding 'Twitter': {'Apple', 'Microsoft', 'Google', 'Twitter', 'IBM', 'Oracle', 'Amazon', 'Facebook'}
Insert Multiple IT companies: {'FedX', 'Microsoft', 'IBM', 'Google', 'Twitter', 'Oracle', 'CapitalOne', 'LinkedIn', 'Apple', 'Amazon', 'Facebook'}
Removing one item like 'Microsoft': {'FedX', 'IBM', 'Google', 'Twitter', 'Oracle', 'CapitalOne', 'LinkedIn', 'Apple', 'Amazon', 'Facebook'}
Discarding an item: {'FedX', 'Google', 'Twitter', 'Oracle', 'CapitalOne', 'LinkedIn', 'Apple', 'Amazon', 'Facebook'}
Union: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection: {19, 20, 22, 24, 25, 26}
Is A Subset of B: True
Are A and B disjoint sets: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Convert the ages to a set: {19, 22, 24, 25, 26}
Length of List: 8 and Length of Set: 5
Compare the length of the list and the set: False

In [ ]:
#Solution:5

radius= 30
pi=3.14
#Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
_area_of_circle_ = pi*radius*radius
print("Area of circle:",_area_of_circle_)

#Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_ = 2*pi*radius
print("Circumference of circle:",_circum_of_circle_)

#Take radius as user input and calculate the area
radius = float(input("Enter the radius: "))
area = pi*radius*radius
print("Area of circle:",area)

Area of circle: 2826.0
Circumference of circle: 188.4

In [ ]:
#Solution:6

#How many unique words have been used in the sentence? Use the split methods and set to get the unique words
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique=set(words)
print("The words are:",unique)
print("Number of unique words:",len(unique))

In [ ]:
#Solution:7 

#Use a tab escape sequence to get the following lines.
#Name Age Country City
#Asabeneh 250 Finland Helsinki

print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

In [ ]:
#Solution:8

#Use the string formatting method to display the following:
#radius = 10
#area = 3.14 * radius ** 2
#â€œThe area of a circle with radius 10 is 314 meters square."

radius = 10
area = int(3.14*radius**2)
result = 'The area of circle with radius {} is {} meters square.'.format(radius, area)
print(result)

In [ ]:
#Solution:9

#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to 
#kilograms in a separate list using Loop. N: No of students (Read input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]

L1 = []
L2 = []
n = int(input("Enter the no. of students: "))
for i in range(0,n):
    weights = int(input())
    L1.append(weights)
print(L1)
for i in range(0,n):
    L2.append(L1[i]*0.4535)
print(L2)